<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuffTools</title>
    <script src="https://unpkg.com/vue@latest"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
</head>

<body>
    <div id="report" class="mt-2">
        <div class="sticky-top bg-white py-1">
            <nav class="nav nav-pills nav-fill mx-2">
                <a v-for="(type,i) in links" :key="'type'+i" :class="type.active?'nav-link active':'nav-link'"
                    aria-current="page" href="#" @click="filterBytType(type)">{{type.name}}</a>
            </nav>
        </div>
        <div class="row col-12 mx-0 mt-3 mb-3 justify-content-start">
            <div v-if="filteredType=='buffOvf'">
                <h3 class="col-12 pl-0 text-primary border-bottom">Generate long characters</h3>
                <label class="col-sm-12 col-lg-9">Enter the preferred character</label>
                <div class="col-sm-12 col-lg-9 mb-2"><input class="form-control" type="text" v-model="charToGenerate">
                </div>

                <label class="col-sm-12 col-lg-9">Enter the preferred length</label>
                <div class="col-sm-12 col-lg-9 mb-2"><input class="form-control" type="number"
                        v-model="charLengthToGenerate"></div>

                <label class="col-sm-12 col-lg-9">Generated Character</label>
                <div class="col-sm-12 col-lg-9 mb-2">
                    <textarea class="form-control" v-model="generatedChars" rows="5"></textarea>
                </div>

                <h3 class="col-12 pl-0 text-primary border-bottom">Generate BadChars</h3>
                <label class="col-sm-12 col-lg-9">Enter the preferred length</label>
                <div class="col-sm-12 col-lg-9 mb-2"><input class="form-control" type="number"
                        v-model="generateBadCharsLength"></div>

                <label class="col-sm-12 col-lg-9">Payload</label>
                <div class="col-sm-12 col-lg-9 mb-2">
                    <textarea class="form-control" v-model="payload" rows="5"></textarea>
                </div>

                <label class="col-sm-12 col-lg-9">BadChars</label>
                <div class="col-sm-12 col-lg-9 mb-2"><input class="form-control" type="text" v-model="badChars"
                        @keydown.enter="generateNewPayload"></div>

                <label class="col-sm-12 col-lg-9">New Payload</label>
                <div class="col-sm-12 col-lg-9 mb-2"><textarea class="form-control" v-model="newPayload"
                        @keydown.enter="generateNewPayload"></textarea></div>
                <!--<div class="col-3 align-self-end"><button class="btn btn-primary" @click="generateNewPayload">Generate</button></div>-->
                <h3 class="col-12 pl-0 text-primary border-bottom">Generate Little Endian</h3>
                <label class="col-sm-12 col-lg-9">Enter the value to convert</label>
                <div class="col-sm-12 col-lg-9 mb-2"><input class="form-control" type="text"
                        v-model="generateLittleEndian">
                </div>

                <label class="col-sm-12 col-lg-9">Generated Little Endian</label>
                <div class="col-sm-12 col-lg-9 mb-2">
                    <textarea class="form-control" v-model="generatedLittleEndian" rows="5"></textarea>
                </div>

            </div>
            <div v-if="filteredType=='hashes'">

                <template v-for="(hash,i) in hashes" :key="'hash'+i">
                    <h3 class="col-12 pl-0 text-primary border-bottom">{{hash.title}}</h3>
                    <label class="col-sm-12 col-lg-9">{{hash.label}}</label>
                    <div class="col-sm-12 col-lg-9 mb-2">
                        <textarea class="form-control" v-model="hash.inputmodel" rows="5"
                            @input="onHashInput(hash.functionToExecute,hash.inputmodel,i)"></textarea>
                    </div>
                    <div class="col-sm-12 col-lg-9 mb-2">
                        <textarea class="form-control" v-model="hash.outputmodel" rows="5"></textarea>
                    </div>
                </template>
            </div>
            <div v-if="filteredType=='crypto'">
                <h6 class="text-center mt-4">Coming Soon!</h6>
            </div>
        </div>

    </div>

    <script>
        const ReportApp = {
            data() {
                return {
                    message: 'Hello Vue!!',
                    links: [{
                        name: "Buff. Overflow",
                        active: true,
                        type: "buffOvf"
                    }, {
                        name: "Hashes",
                        active: false,
                        type: "hashes"
                    }, {
                        name: "Crypto",
                        active: false,
                        type: "crypto"
                    }],
                    filteredType: "buffOvf",
                    tableData: [],
                    filename: 'goog.json',
                    charToGenerate: "A",
                    charLengthToGenerate: 2000,
                    generatedChars: "",
                    generateBadCharsLength: 256,
                    generatedBadChars: "",
                    payload: "",
                    badChars: "",
                    newPayload: "",
                    generateLittleEndian: "",
                    generatedLittleEndian: "",
                    generateAesEcb: "",
                    aesEcbKey: "",
                    generatedAesEcb: "",
                    generateAesCbc: "",
                    aesCbcKey: "",
                    aesCbcIv: "",
                    generatedAesCbc: "",
                    generateMD5String: "",
                    hashes: [
                        {
                            title: "Encode Base64",
                            label: "Enter the value to generate",
                            inputmodel: "",
                            outputmodel: "",
                            functionToExecute: "base64enc"
                        },
                        {
                            title: "Decode Base64",
                            label: "Enter the value to generate",
                            inputmodel: "",
                            outputmodel: "",
                            functionToExecute: "base64dec"
                        },
                        {
                            title: "Generate MD5",
                            label: "Enter the value to generate",
                            inputmodel: "",
                            outputmodel: "",
                            functionToExecute: "md5"
                        },
                        {
                            title: "Generate SHA1",
                            label: "Enter the value to generate",
                            inputmodel: "",
                            outputmodel: "",
                            functionToExecute: "sha1"
                        },
                        {
                            title: "Generate SHA3",
                            label: "Enter the value to generate",
                            inputmodel: "",
                            outputmodel: "",
                            functionToExecute: "sha3"
                        },
                        {
                            title: "Generate SHA224",
                            label: "Enter the value to generate",
                            inputmodel: "",
                            outputmodel: "",
                            functionToExecute: "sha224"
                        },
                        {
                            title: "Generate SHA256",
                            label: "Enter the value to generate",
                            inputmodel: "",
                            outputmodel: "",
                            functionToExecute: "sha256"
                        },
                        {
                            title: "Generate SHA384",
                            label: "Enter the value to generate",
                            inputmodel: "",
                            outputmodel: "",
                            functionToExecute: "sha384"
                        },
                        {
                            title: "Generate SHA512",
                            label: "Enter the value to generate",
                            inputmodel: "",
                            outputmodel: "",
                            functionToExecute: "sha512"
                        }

                    ]
                }
            },
            watch: {
                generateLittleEndian(nv) {
                    this.generatedLittleEndian = ""
                    let b = nv.match(/.{1,2}/g)
                    this.generatedLittleEndian = "\\x" + b.reverse().join('\\x')

                },
                generateBadCharsLength(nv) {
                    this.generateBadChars()
                },
                charLengthToGenerate(nv) {
                    this.generatedChars = ""
                    //let a = ""
                    //for (let i = 1; i <= parseInt(this.charLengthToGenerate); i++) {
                     //   this.generatedChars = this.generatedChars + this.charToGenerate
                    //}
                    //modern way
                    this.generatedChars = this.charToGenerate.repeat(this.charLengthToGenerate)
                },
                generateAesEcb(nv) {
                    let e = ""
                    this.generatedAesEcb = ""
                    if (!this.aesEcbKey) { return }
                    this.startCrackingAesEcb(nv)

                },
                aesEcbKey(nv) {
                    if (!nv) { return }
                    this.startCrackingAesEcb(this.generateAesEcb)
                },
                generateAesCbc(nv) {
                    let e = ""
                    this.generatedAesEcb = ""
                    if (!this.aesCbcKey || !this.aesCbcIv) { return }
                    this.startCrackingAesCbc(nv)

                },
                aesCbcKey(nv) {
                    if (!nv || !this.aesCbcIv) { return }
                    this.startCrackingAesCbc(this.generateAesCbc)
                },
                aesCbcIv(nv) {
                    if (!nv || !this.aesCbcKey) { return }
                    this.startCrackingAesCbc(this.generateAesCbc)
                },
                generateMD5String(nv) {
                    this.generateMD5(nv)
                }
            },
            mounted() {

                this.generateBadChars()
            },
            methods: {
                filterBytType(t) {
                    for (let i of this.links) {
                        if (i.type != t.type) {
                            i.active = false
                        } else {
                            i.active = true
                        }
                    }
                    this.filteredType = t.type

                },
                startCrackingAesEcb(nv) {
                    if (nv.includes('ENC>')) {
                        e = nv.split('ENC>')[1]
                        this.generatedAesEcb = this.encryptHashEcb(e, this.aesEcbKey)
                    } else if (nv.includes('DEC>')) {
                        e = nv.split('DEC>')[1]
                        this.generatedAesEcb = this.decryptHashEcb(e, this.aesEcbKey)
                    }
                },
                startCrackingAesCbc(nv) {
                    if (nv.includes('ENC>')) {
                        e = nv.split('ENC>')[1]
                        this.generatedAesCbc = this.encryptAesCbcIv(e)
                    } else if (nv.includes('DEC>')) {
                        e = nv.split('DEC>')[1]
                        this.generatedAesCbc = this.decryptAesCbcIv(e)
                    }
                },
                generateBadChars() {
                    this.payload = ""
                    if (parseInt(this.generateBadCharsLength) < 16) {
                        let a = "\\x01\\x02\\x03\\x04\\x05\\x06\\x07\\x08\\x09\\x0a\\x0b\\x0c\\x0d\\x0e\\x0f"
                        for (let i = 1; i <= parseInt(this.generateBadCharsLength); i++) {
                            this.payload = this.payload + "\\x" + a.split('\\x')[i]
                        }
                    } else {
                        let aa, bb = ""
                        let a = "\\x01\\x02\\x03\\x04\\x05\\x06\\x07\\x08\\x09\\x0a\\x0b\\x0c\\x0d\\x0e\\x0f"
                        for (let i = 1; i < 16; i++) {
                            aa = aa + "\\x" + a.split('\\x')[i]
                        }
                        setTimeout(() => {
                            for (let i = 16; i < parseInt(this.generateBadCharsLength); i++) {
                                bb = bb + "\\x" + i.toString(16)
                            }
                            setTimeout(() => {
                                this.payload = aa + bb
                                this.payload = this.payload.replace(undefined, '')
                            }, 400)
                        }, 500);

                    }

                    // console.log(this.payload);
                },
                changeTheme() {
                    document.querySelector('body').style.backgroundColor = "#1b1b1b"
                    a = document.querySelectorAll('input')
                    b = document.querySelectorAll('textarea')
                    for (let i of a) {
                        i.style.background = "#212529"
                        i.style.color = "#ffffff"
                    }
                    for (let i of b) {
                        i.style.background = "#212529"
                        i.style.color = "#ffffff"
                    }
                },
                generateNewPayload() {
                    console.log(this.payload);
                    if (this.payload && this.badChars) {

                        let a = this.payload
                        let p = this.badChars;
                        var newVal = a.replace(/\\x([0-9A-F]{2})/ig, function () {
                            return String.fromCharCode(parseInt(arguments[1], 16));
                        });
                        var newtest = p.replace(/\\x([0-9A-F]{2})/ig, function () {
                            return String.fromCharCode(parseInt(arguments[1], 16));
                        });
                        let b = ""
                        console.log(newtest);
                        for (let i of newtest) {
                            b = newVal.replace(i, '')
                        }
                        setTimeout(() => {
                            console.log(b);

                            this.newPayload = ""
                            for (let i in b) {
                                // console.log("\\x" + b.charCodeAt(i).toString(16))
                                this.newPayload = this.newPayload + "\\x" + b.charCodeAt(i).toString(16)
                            }
                        }, 500);

                    }
                },
                encryptHashEcb(message = '', key = '') {
                    var res = CryptoJS.AES.encrypt(message, key);
                    return res.toString();
                },
                decryptHashEcb(message = '', key = '') {
                    var code = CryptoJS.AES.decrypt(message, key);
                    var decryptedMessage = code.toString(CryptoJS.enc.Utf8);

                    return decryptedMessage;
                },
                encryptAesCbcIv(str) {
                    var key = CryptoJS.enc.Utf8.parse(this.aesCbcKey);
                    var iv = CryptoJS.enc.Utf8.parse(this.aesCbcIv);

                    var encrypted = '';

                    var srcs = CryptoJS.enc.Utf8.parse(str);
                    encrypted = CryptoJS.AES.encrypt(srcs, key, {
                        iv: iv,
                        mode: CryptoJS.mode.CBC,
                        padding: CryptoJS.pad.Pkcs7
                    });

                    return encrypted.ciphertext.toString();
                },
                decryptAesCbcIv(str) {
                    let [key, iv] = [CryptoJS.enc.Utf8.parse(this.aesCbcKey), CryptoJS.enc.Utf8.parse(this.aesCbcIv)]
                    var encryptedHexStr = CryptoJS.enc.Hex.parse(str);
                    var srcs = CryptoJS.enc.Base64.stringify(encryptedHexStr);
                    var decrypt = CryptoJS.AES.decrypt(srcs, key, {
                        iv: iv,
                        mode: CryptoJS.mode.CBC,
                        padding: CryptoJS.pad.Pkcs7
                    });
                    var decryptedStr = decrypt.toString(CryptoJS.enc.Utf8);
                    return decryptedStr.toString();
                },
                generateMD5(nv) {
                    if (nv.length > 0) {
                        this.generatedMD5 = CryptoJS.MD5(nv).toString()
                    }
                },
                onHashInput(h, i, index) {
                    if (h) {
                        switch (h) {
                            case 'md5':
                                if (i.length > 0) {
                                    this.hashes[index].outputmodel = CryptoJS.MD5(i).toString()
                                }
                                break;
                            case 'sha1':
                                if (i.length > 0) {
                                    this.hashes[index].outputmodel = CryptoJS.SHA1(i).toString()
                                }
                                break;
                            case 'sha3':
                                if (i.length > 0) {
                                    this.hashes[index].outputmodel = CryptoJS.SHA3(i).toString()
                                }
                                break;
                            case 'sha224':
                                if (i.length > 0) {
                                    this.hashes[index].outputmodel = CryptoJS.SHA224(i).toString()
                                }
                                break;
                            case 'sha256':
                                if (i.length > 0) {
                                    this.hashes[index].outputmodel = CryptoJS.SHA256(i).toString()
                                }
                                break;
                            case 'sha384':
                                if (i.length > 0) {
                                    this.hashes[index].outputmodel = CryptoJS.SHA384(i).toString()
                                }
                                break;
                            case 'sha512':
                                if (i.length > 0) {
                                    this.hashes[index].outputmodel = CryptoJS.SHA512(i).toString()
                                }
                                break;
                            case 'base64enc':
                                if (i.length > 0) {
                                    this.hashes[index].outputmodel = btoa(i)
                                }
                                break;
                            case 'base64dec':
                                if (i.length > 0) {
                                    this.hashes[index].outputmodel = atob(i)
                                }
                                break;

                            default:
                                break;
                        }
                    }
                },

            }
        }

        Vue.createApp(ReportApp).mount('#report')
    </script>

</body>

</html>
